In [1]:
import pandas as pd    # Para manejo de datos
import numpy as np    # Para operaciones matemáticas
import matplotlib.pyplot as plt     # Para gráficos
import seaborn as sns   # Para gráficos más bonitos
import os   # Para manejo de archivos
import datetime as dt   # Para manejo de fechas
import json   # Para manejo de archivos json
import ast    # Para manejo de archivos json
import re    # Para manejo de expresiones regulares
import jsonlines   # Para manejo de archivos jsonlines

In [2]:

filas = list()

with open(r"C:\Users\baby_\Downloads\PI MLOps - STEAM-20231023T194033Z-001\PI MLOps - STEAM\users_items.json\australian_users_items.json", "r",encoding="utf-8") as archivo:
    for linea in archivo:
        filas.append(ast.literal_eval(linea))

In [3]:
df2 = pd.DataFrame(filas)

In [4]:
df2

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [5]:
df2['items'].isnull().sum()

0

In [6]:
df2 = df2.drop(columns=['user_url','steam_id'])

In [7]:

df2

,user_id,items_count,items
0,76561197970982479,277,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...
88305,76561198323066619,22,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,[]
88308,76561198329548331,7,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,[]

In [12]:
pd.reset_option('display.max_colwidth')

In [8]:


# Hacer "explode" a la columna "items"
df2 = df2.explode('items')

# Imprimir el DataFrame resultante
print(df2)

                 user_id  items_count  \
0      76561197970982479          277
0      76561197970982479          277
0      76561197970982479          277
0      76561197970982479          277
0      76561197970982479          277
...                  ...          ...
88308  76561198329548331            7
88308  76561198329548331            7
88308  76561198329548331            7
88308  76561198329548331            7
88309  edward_tremethick            0

                                                   items
0      {'item_id': '10', 'item_name': 'Counter-Strike...
0      {'item_id': '20', 'item_name': 'Team Fortress ...
0      {'item_id': '30', 'item_name': 'Day of Defeat'...
0      {'item_id': '40', 'item_name': 'Deathmatch Cla...
0      {'item_id': '50', 'item_name': 'Half-Life: Opp...
...                                                  ...
88308  {'item_id': '373330', 'item_name': 'All Is Dus...
88308  {'item_id': '388490', 'item_name': 'One Way To...
88308  {'item_id': '521570', 'item_name': 'You Have 1...
88308  {'item_id': '519140', 'item_name': 'Minds Eyes...
88309                                                NaN

[5170015 rows x 3 columns]

In [9]:
df2 = df2.reset_index(drop=True)

In [10]:


# Utilizar la función json_normalize() para convertir los objetos JSON en un DataFrame plano
df_items = pd.json_normalize(df2['items'])

# Concatenar el DataFrame resultante con el DataFrame original
df2 = pd.concat([df2, df_items], axis=1)

In [11]:
df2

,user_id,items_count,items,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,"{'item_id': '10', 'item_name': 'Counter-Strike...",10,Counter-Strike,6.0,0.0
1,76561197970982479,277,"{'item_id': '20', 'item_name': 'Team Fortress ...",20,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,"{'item_id': '30', 'item_name': 'Day of Defeat'...",30,Day of Defeat,7.0,0.0
3,76561197970982479,277,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",40,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...
5170010,76561198329548331,7,"{'item_id': '373330', 'item_name': 'All Is Dus...",373330,All Is Dust,0.0,0.0
5170011,76561198329548331,7,"{'item_id': '388490', 'item_name': 'One Way To...",388490,One Way To Die: Steam Edition,3.0,3.0
5170012,76561198329548331,7,"{'item_id': '521570', 'item_name': 'You Have 1...",521570,You Have 10 Seconds 2,4.0,4.0
5170013,76561198329548331,7,"{'item_id': '519140', 'item_name': 'Minds Eyes...",519140,Minds Eyes,3.0,3.0
5170014,edward_tremethick,0,NaN,NaN,NaN,NaN,NaN

In [12]:


# Eliminar la columna "playtime_2weeks"
df2 = df2.drop(columns=['playtime_2weeks','items'])
df2

,user_id,items_count,item_id,item_name,playtime_forever
0,76561197970982479,277,10,Counter-Strike,6.0
1,76561197970982479,277,20,Team Fortress Classic,0.0
2,76561197970982479,277,30,Day of Defeat,7.0
3,76561197970982479,277,40,Deathmatch Classic,0.0
4,76561197970982479,277,50,Half-Life: Opposing Force,0.0
...,...,...,...,...,...
5170010,76561198329548331,7,373330,All Is Dust,0.0
5170011,76561198329548331,7,388490,One Way To Die: Steam Edition,3.0
5170012,76561198329548331,7,521570,You Have 10 Seconds 2,4.0
5170013,76561198329548331,7,519140,Minds Eyes,3.0
5170014,edward_tremethick,0,NaN,NaN,NaN

In [13]:
df2 = df2.rename(columns=lambda x: x.title())
df2

,User_Id,Items_Count,Item_Id,Item_Name,Playtime_Forever
0,76561197970982479,277,10,Counter-Strike,6.0
1,76561197970982479,277,20,Team Fortress Classic,0.0
2,76561197970982479,277,30,Day of Defeat,7.0
3,76561197970982479,277,40,Deathmatch Classic,0.0
4,76561197970982479,277,50,Half-Life: Opposing Force,0.0
...,...,...,...,...,...
5170010,76561198329548331,7,373330,All Is Dust,0.0
5170011,76561198329548331,7,388490,One Way To Die: Steam Edition,3.0
5170012,76561198329548331,7,521570,You Have 10 Seconds 2,4.0
5170013,76561198329548331,7,519140,Minds Eyes,3.0
5170014,edward_tremethick,0,NaN,NaN,NaN

In [14]:
df2 = df2.dropna(subset=["Item_Id"])

In [15]:
df2.isnull().sum()

User_Id             0
Items_Count         0
Item_Id             0
Item_Name           0
Playtime_Forever    0
dtype: int64

In [16]:
df2.to_parquet("User_items.parquet")

In [17]:
df13 = pd.read_csv("User_items.csv")

# Escribir el DataFrame en un archivo Parquet
df13.to_parquet("User_items.parquet")